<!doctype html>

<html>
    <head>
        <title>Is Adam the first guy?</title>
    </head>
    <body>

        <img id="imageid" src="img/Adam_Page_001.png" style="width: 100%" alt="First page">            
        <div id="footer">
            <button id="prevPage" onclick="firstPage()" style="padding:0.5rem;margin-right:8em"><<</button>            
            <button id="prevPage" onclick="prevPage()" style="padding:1rem;margin-right:8em"><</button>
            <input id="pageNumber" type="text" style="padding:1rem;text-align: center;" onchange="pageInput()">
            <button id="nextPage" onclick="nextPage()" style="padding:1rem;margin-left:8em">></button>
            <button id="nextPage" onclick="lastPage()" style="padding:0.5rem;margin-left:8em">>></button>            
        </div>
        <style>
           
            #footer {
                position:fixed;
                left:0em;
                bottom:0em;
                height:4em;
                width:100%;
                background:#000;
                text-align:center;
            }
        </style>
        <script src="../js/client.js"></script>                
    </body>
</html> 
