<!doctype html>

<html>
    <head>
        <title>Mohamed Magdy</title>
    </head>
    <body>
        <div class="row">
            <form action="http://127.0.0.1:3001/login" method="post">
                <input name="pass" type="password" style="padding:1em;text-align: center">
                <button type="submit" style="padding:1em">Login</button>        
            </form>
        </div>
        <style>
            body{
                background-color: #E5E4E2;
            }
            .row{
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -4em;
                margin-left: -10em;
            }
        </style>
    </body>
</html> 
